---
import { Icon } from 'astro-icon/components';

import { UI } from 'astrowind:config';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  iconNameLight?: string;
  iconNameDark?: string;
}

const {
  label = 'Toggle between Dark and Light mode',
  class:
    className = 'theme-toggle border border-current rounded-full inline-flex items-center gap-1 p-1 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700',
  iconClass = 'w-4 h-4',
  iconNameLight = 'tabler:moon',
  iconNameDark = 'tabler:sun',
} = Astro.props;
---

{
  !(UI.theme && UI.theme.endsWith(':only')) && (
    <button
      type="button"
      class={className}
      aria-label={label}
      data-aw-toggle-color-scheme
    >
      <span class="theme-toggle__option theme-toggle__option--moon" aria-hidden="true">
        <Icon name={iconNameLight} class={iconClass} />
      </span>
      <span class="theme-toggle__option theme-toggle__option--sun" aria-hidden="true">
        <Icon name={iconNameDark} class={iconClass} />
      </span>
    </button>
  )
}
